/*Big tablet to 1200px(widths smaller than the 1140px row)*/

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}


/*Small tablets to big tablet: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px;
    }

    .long-copy {
        width: 100%;
        margin-left: 10px;
    }
    
    .step-box { margin-top: 10px; }
    .step-box:last-child {margin-top: 30px;}
    .work-step {margin-bottom: 40px;}
    .work-step:last-of-type {margin-bottom: 60px;}
    .app-screen{width: 60%; margin-top: -10px;}
    
    .icon-small { width: 10px;}
    .city-feature { font-size: 70%;}
    h3 { font-size: 80%; }
    
    .plan-box {
        width: 100%;
        margin: 0%;
    }
    .plan-price {
        font-size: 250%;
    }
    .contact-form {
        width: 80%;
    }
    
}

/*Small phones to small tablets: from 481 to 767*/

@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section {padding: 30px;}
    
    .row,
    .hero-text-box {padding:0 4%;}
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav { display: none; }
    
    h1 { font-size: 180%; }
    h2 { font-size: 130%; }
    h3 { font-size: 120%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0px;
    }
    
    .work-step {margin-bottom:25px;}
    .work-step:last-of-type {margin-bottom: 40px;}  
    .work-step div {
        height: 45px;
        width: 45px;
        padding: 5px;
        margin-right: 15px;
    }
    
    .city-feature {
        font-size: 100%;
    }
    
    .icon-big {
/*        text-align: left;*/
        font-size: 50px;

    }
    
    .section-features .box {
        margin-top: 0;
        text-align: center;
    }
    .step-box:first-child{
        text-align: center;
    }   
    
    .step-box div{
         padding: 5px;
    }
    
    .app-screen {
        width: 50%;
    }

    
}

/*Small phones: from 0 to 480px*/

@media only screen and (max-width: 480px) {
    section {padding: 25px 0;}
    .contact-form {width: 100%;}

    footer .row{
        padding:20px 0;
        width: 100%;
        font-size:20px;
        vertical-align: middle;
    }
    
    footer p {
        margin-top: 20px;
    }
    
    .footer-nav {
        padding-bottom: 50px;
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
    }    
    
    .footer-nav ul li a{
        height: 50px;
    }

    .footer-nav li a:link,
    .footer-nav li a:visited,
    .social-links li a:link,
    .social-links li a:visited {
        text-decoration: none;
        border: 0;
        color: #888;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }
    
    .footer-nav li:hover,
    .footer-nav li:active {
        border-bottom: 0;
    }
    
    .social-links {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}
